
$black: #000000;
$green: #00FFCE;
$grey: #666666;




@import "susy";
@import "compass";
@import "partials/general";
@import "partials/home";
@import "partials/bestiarum";
@import "partials/bottoni";
@import "partials/post";
@import "partials/list";
@import "partials/next";
@import "partials/list_menu";
@import "partials/calendar";



$base-font-size: 16px;
$base-line-height: 24px;

$total-columns: 16 ;
$column-width: 2.5em;
$gutter-width: 1.25em;
$grid-padding: 0.625em;
$container-style: magic;

$break: 16;



@include font-face(
	"lekton italic",
	font-files(
		"lekton/lekton-italic-webfont.woff",
		"lekton/lekton-italic-webfont.ttf",
		"lekton/lekton-italic-webfont.svg"),  
		"lekton/lekton-italic-webfont.eot",
		400, 
		regular);

@include font-face(
	"libertine italic",
	font-files(
		"linux libertine/linlibertine_it-4.2.6ro-webfont.woff",
		"linux libertine/linlibertine_it-4.2.6ro-webfont.ttf",
		"linux libertine/linlibertine_it-4.2.6ro-webfont.svg"),  
		"linux libertine/linlibertine_it-4.2.6ro-webfont.eot",
		400, 
		regular);
		
@include font-face(
	"libertine black italic",
	font-files(
		"linux libertine/linlibertine_bi-4.1.0ro-webfont.woff",
		"linux libertine/linlibertine_bi-4.1.0ro-webfont.ttf",
		"linux libertine/linlibertine_bi-4.1.0ro-webfont.svg"),  
		"linux libertine/linlibertine_bi-4.1.0ro-webfont.eot",
		900, 
		regular);

@include font-face(
	"lato regular",
	font-files(
		"lato/lato-reg-webfont.woff",
		"lato/lato-reg-webfont.ttf",
		"lato/lato-reg-webfont.svg"),  
		"lato/lato-reg-webfont.eot",
		400, 
		regular);
		
@include font-face(
	"lato regular italic",
	font-files(
		"lato/lato-regita-webfont.woff",
		"lato/lato-regita-webfont.ttf",
		"lato/lato-regita-webfont.svg"),  
		"lato/lato-regita-webfont.eot",
		400, 
		regular);
		
@include font-face(
	"lato bold italic",
	font-files(
		"lato/lato-bolita-webfont.woff",
		"lato/lato-bolita-webfont.ttf",
		"lato/lato-bolita-webfont.svg"),  
		"lato/lato-bolita-webfont.eot",
		700, 
		regular);

@include font-face(
	"lato black",
	font-files(
		"lato/lato-bla-webfont.woff",
		"lato/lato-bla-webfont.ttf",
		"lato/lato-bla-webfont.svg"),  
		"lato/lato-bla-webfont.eot",
		900, 
		regular);
		
@include font-face(
	"lato black italic",
	font-files(
		"lato/lato-blaita-webfont.woff",
		"lato/lato-blaita-webfont.ttf",
		"lato/lato-blaita-webfont.svg"),  
		"lato/lato-blaita-webfont.eot",
		900, 
		regular);

body{
	-webkit-font-smoothing: antialiased;
	background: #f5f5f5;
}

.grid {
	@include susy-grid-background;
	@include container;
	margin-left:0;
	}
	
#container{
	@extend .grid;
}