/* line 6, ../../sass/partials/bestiarum.scss */
#left-column h1 {
  width: 17.72152%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
}

/* line 12, ../../sass/partials/bestiarum.scss */
#right-column h1 {
  font-family: "lato bold italic";
  font-size: 55px;
  line-height: 66px;
  color: black;
  text-transform: uppercase;
  width: 68.35443%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  margin-left: 25.42373%;
  margin-top: 0!important;
  margin-bottom: 0!important;
}
/* line 22, ../../sass/partials/bestiarum.scss */
#right-column h1 .subtitle {
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}
/* line 32, ../../sass/partials/bestiarum.scss */
#right-column .intro-pagine-interne {
  font-family: "libertine italic";
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-indent: 60px;
  width: 68.35443%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  margin-left: 25.42373%;
  background: url("text_indent.png") top left no-repeat;
}
/* line 42, ../../sass/partials/bestiarum.scss */
#right-column .people {
  width: 74.68354%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  margin-left: 25.42373%;
  list-style: none;
  padding: 0 !important;
}
/* line 48, ../../sass/partials/bestiarum.scss */
#right-column .people li {
  height: 49px;
  position: relative;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
}
/* line 54, ../../sass/partials/bestiarum.scss */
#right-column .people li .container {
  border: 2px solid black;
  outline: 1px solid white;
  background-color: white;
  position: relative;
  float: left;
  padding: 1px 8px 0px 8px;
}
/* line 62, ../../sass/partials/bestiarum.scss */
#right-column .people li .container .corner-left {
  position: absolute;
  background: url("../images/people_corner_left.png") top left no-repeat;
  background-color: white;
  width: 7px;
  height: 47px;
  margin-left: -8px;
  margin-top: -1px;
}
/* line 71, ../../sass/partials/bestiarum.scss */
#right-column .people li .container .corner-right {
  float: right;
  background: url("../images/people_corner_right.png") top left no-repeat;
  background-color: white;
  width: 7px;
  height: 47px;
  margin-right: -8px;
  margin-top: -1px;
}
/* line 80, ../../sass/partials/bestiarum.scss */
#right-column .people li .container h3 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "libertine italic";
  font-size: 23px;
  line-height: 27px;
  text-decoration: underline;
  font-weight: normal;
  color: black;
}
/* line 91, ../../sass/partials/bestiarum.scss */
#right-column .people li .container h4 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "lekton italic";
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
}
/* line 104, ../../sass/partials/bestiarum.scss */
#right-column .people li:visited .container {
  border: 2px solid #00FFCE;
}
/* line 106, ../../sass/partials/bestiarum.scss */
#right-column .people li:visited .container .corner-left {
  background: url("../images/people_corner_left_hover.png") top left no-repeat;
}
/* line 109, ../../sass/partials/bestiarum.scss */
#right-column .people li:visited .container .corner-right {
  background: url("../images/people_corner_right_hover.png") top left no-repeat;
}
/* line 112, ../../sass/partials/bestiarum.scss */
#right-column .people li:visited .container h3, #right-column .people li:visited .container h4 {
  color: #00FFCE;
}
/* line 117, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover {
  position: relative;
  height: 49px;
  margin: 0 !important;
  margin-right: 3px !important;
}
/* line 124, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover .left_hover {
  position: absolute;
  bottom: 1px;
  left: -12px;
  width: 12px;
  height: 12px;
  background: url("../images/left_hover.png") top left no-repeat;
}
/* line 132, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover .center_hover {
  position: relative;
  float: left;
  height: 12px;
  width: 97%;
  background: url("../images/center_hover.png") bottom left repeat-x;
}
/* line 140, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover .right_hover {
  position: absolute;
  top: -15px;
  margin-right: 6px;
  right: -6px;
  width: 12px;
  height: 63px;
  background: url("../images/right_hover.png") top left no-repeat;
}
/* line 149, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover .container {
  margin-top: -15px;
  margin-left: -11px;
  margin-right: 12px;
  position: relative;
  float: left;
}
/* line 155, ../../sass/partials/bestiarum.scss */
#right-column .people li:hover .container h3 {
  background-color: #00FFCE;
}
