/* line 6, ../../sass/partials/bottoni.scss */
#bottone {
  margin-left: 25.42373%;
}

/* line 12, ../../sass/partials/bottoni.scss */
nav.breadcrumb {
  font-family: "lato black italic";
  font-size: 16px;
  line-height: 27px;
  color: black;
  text-transform: uppercase;
  color: #00FFCE;
  margin-top: -37px;
}

/* line 21, ../../sass/partials/bottoni.scss */
nav.breadcrumb a {
  margin: 0 20px;
  text-decoration: none;
  color: #00FFCE;
}

/* line 28, ../../sass/partials/bottoni.scss */
nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
  color: #24CDA8;
}

/* line 36, ../../sass/partials/bottoni.scss */
#testo-bottone h1 {
  font-family: "lato regular";
  text-transform: lowercase;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
}

/* line 50, ../../sass/partials/bottoni.scss */
.asterisco-testo {
  background: url("../images/asterisco.png") no-repeat left top;
  width: 14px;
  height: 13px;
  position: absolute;
  margin-top: 50px;
}

/* line 59, ../../sass/partials/bottoni.scss */
.bottone-nero {
  position: relative;
  background: #000000 !important;
  width: 260px;
  height: 46px;
  float: left;
  margin-top: 108px;
}
/* line 67, ../../sass/partials/bottoni.scss */
.bottone-nero .left-corner {
  background: url("../images/btn_corner_left.png") no-repeat left top;
  width: 7px;
  height: 46px;
}
/* line 73, ../../sass/partials/bottoni.scss */
.bottone-nero .right-corner {
  background: url("../images/btn_corner_right.png") no-repeat left top;
  width: 7px;
  height: 46px;
  float: right;
  position: relative;
  margin-top: -46px;
}
