/* line 4, ../../sass/partials/calendar.scss */
.content-calendar {
  margin-left: 25.42373%;
  position: relative;
  background: white;
  border: 2px solid black;
  width: 636px;
  height: 138px;
  float: left;
}
/* line 13, ../../sass/partials/calendar.scss */
.content-calendar .left-corner {
  background: url("../images/btn_left_corner_next.png") no-repeat left top;
  width: 6px;
  height: 136px;
}
/* line 19, ../../sass/partials/calendar.scss */
.content-calendar .right-corner {
  background: url("../images/btn_right_corner_news .png") no-repeat left top;
  width: 6px;
  height: 136px;
  float: right;
  position: relative;
  margin-top: -134px;
}
/* line 29, ../../sass/partials/calendar.scss */
.content-calendar .foto {
  background: url("../images/foto_prova.png") no-repeat;
  width: 106px;
  height: 106px;
  position: absolute;
  margin-left: 30px;
  margin-top: -120px;
}
/* line 40, ../../sass/partials/calendar.scss */
.content-calendar h1 {
  font-family: "libertine italic";
  font-size: 23px;
  line-height: 27px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  margin-top: -125px;
  margin-left: 20px;
  text-decoration: underline;
  margin-left: 210px;
}
/* line 55, ../../sass/partials/calendar.scss */
.content-calendar .data-calendar {
  margin-left: 33.89831%;
  font-family: "lekton italic";
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #00FFCE;
  position: absolute;
  margin-top: -40px;
}
/* line 69, ../../sass/partials/calendar.scss */
.content-calendar .anonima {
  text-decoration: underline;
}
/* line 73, ../../sass/partials/calendar.scss */
.content-calendar .intro-calendar {
  font-family: "libertine italic";
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  position: relative;
  margin-right: 15px;
  margin-top: -125px;
  width: 189px;
  position: relative;
  float: right;
  text-indent: 2px;
}
/* line 86, ../../sass/partials/calendar.scss */
.content-calendar .intro2-calendar {
  font-family: "libertine italic";
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  position: relative;
  margin-right: 15px;
  margin-top: -45px;
  width: 189px;
  position: relative;
  float: right;
  text-indent: 2px;
}
/* line 100, ../../sass/partials/calendar.scss */
.content-calendar .barra-text-calendar {
  background: url("../images/barra_text.png") no-repeat top left;
  width: 27px;
  height: 1px;
  position: relative;
  float: left;
  margin-top: 8px;
}

/* line 114, ../../sass/partials/calendar.scss */
.accordion section h2 a {
  margin-left: 25.42373%;
  font-family: "libertine italic";
  padding: 4px 10px;
  display: block;
  font-size: 30px;
  font-weight: normal;
  line-height: 23px;
  border: 1px solid black;
  width: 135px;
  color: black;
  text-decoration: none;
}

/*set style of closed slide*/
/* line 130, ../../sass/partials/calendar.scss */
.accordion section {
  float: left;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  margin: 3px;
}

/* line 142, ../../sass/partials/calendar.scss */
.accordion section:after {
  position: relative;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

/*End General Accordion****************************************************************************/
/*Horizontal Accordion *********************************************************************/
/* line 152, ../../sass/partials/calendar.scss */
.horizontal section {
  width: 5%;
  height: 250px;
  -moz-transition: width 0.2s ease-out;
  -webkit-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

/*Position the number of the slide*/
/* line 163, ../../sass/partials/calendar.scss */
.horizontal section:after {
  top: 140px;
  left: 15px;
}

/*Header of closed slide*/
/* line 169, ../../sass/partials/calendar.scss */
.horizontal section h2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 240px;
  position: relative;
  left: -100px;
  top: 85px;
}

/*On mouse over open slide*/
/* line 182, ../../sass/partials/calendar.scss */
.horizontal :target {
  width: 73%;
  height: 230px;
}

/* line 186, ../../sass/partials/calendar.scss */
.horizontal :target h2 {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*End Horizontal Accordion *********************************************************************/
/*Vertical Accordion *************************************************************************/
/* line 197, ../../sass/partials/calendar.scss */
.vertical section {
  width: 100%;
  height: 40px;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

/*Set height of the slide*/
/* line 207, ../../sass/partials/calendar.scss */
.vertical :target {
  height: 250px;
  width: 97%;
}

/* line 212, ../../sass/partials/calendar.scss */
.vertical section h2 {
  position: relative;
  left: 0;
  top: -15px;
}

/*Set position of the number on the slide*/
/* line 219, ../../sass/partials/calendar.scss */
.vertical section:after {
  top: -60px;
  left: 810px;
}

/* line 223, ../../sass/partials/calendar.scss */
.vertical section:target:after {
  left: -9999px;
}
