/* line 6, ../../sass/partials/home.scss */
#left-column h1 {
  width: 17.72152%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
}
/* line 10, ../../sass/partials/home.scss */
#left-column .logo {
  background: url("../images/logo.png") no-repeat left top;
  width: 173px;
  height: 174px;
}

/* line 15, ../../sass/partials/home.scss */
#right-column {
  margin-top: -140px;
}
/* line 18, ../../sass/partials/home.scss */
#right-column .intro {
  font-family: "libertine italic";
  font-size: 23px;
  line-height: 28px;
  color: black;
  width: 68.35443%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  margin-left: 25.42373%;
}
/* line 26, ../../sass/partials/home.scss */
#right-column .intro .first-word {
  font-family: "libertine black italic";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
/* line 35, ../../sass/partials/home.scss */
#right-column #bottoni {
  margin-left: 25.42373%;
}
/* line 39, ../../sass/partials/home.scss */
#right-column nav.breadcrumb {
  font-family: "lato black italic";
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #00FFCE;
  margin-top: -37px;
}
/* line 47, ../../sass/partials/home.scss */
#right-column nav.breadcrumb a {
  margin: 0 20px;
  text-decoration: none;
  color: #00FFCE;
}
/* line 54, ../../sass/partials/home.scss */
#right-column nav.breadcrumb a:hover,
#right-column nav.breadcrumb a:focus {
  color: #24CDA8;
}
/* line 64, ../../sass/partials/home.scss */
#right-column .description h1 {
  font-family: "lato regular";
  text-transform: lowercase;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  position: absolute;
  margin-top: 530px !important;
  margin-left: 240px;
}
/* line 80, ../../sass/partials/home.scss */
#right-column .description2 h1 {
  font-family: "lato regular";
  text-transform: lowercase;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  position: absolute;
  margin-top: 530px !important;
  margin-left: 460px;
}
/* line 96, ../../sass/partials/home.scss */
#right-column .description3 h1 {
  font-family: "lato regular";
  text-transform: lowercase;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  position: absolute;
  margin-top: 530px !important;
  margin-left: 440px;
}
/* line 109, ../../sass/partials/home.scss */
#right-column .bottone-black {
  position: relative;
  background: #000000 !important;
  width: 200px;
  height: 46px;
  float: left;
  margin-top: 108px;
}
/* line 117, ../../sass/partials/home.scss */
#right-column .bottone-black .left-corner {
  background: url("../images/btn_corner_left.png") no-repeat left top;
  width: 7px;
  height: 46px;
}
/* line 123, ../../sass/partials/home.scss */
#right-column .bottone-black .right-corner {
  background: url("../images/btn_corner_right.png") no-repeat left top;
  width: 7px;
  height: 46px;
  float: right;
  position: relative;
  margin-top: -46px;
}
/* line 133, ../../sass/partials/home.scss */
#right-column .bottone-black2 {
  position: relative;
  background: #000000 !important;
  width: 200px;
  height: 46px;
  float: left;
  margin-left: 20px;
  margin-top: 108px;
}
/* line 142, ../../sass/partials/home.scss */
#right-column .bottone-black2 .left-corner {
  background: url("../images/btn_corner_left.png") no-repeat left top;
  width: 7px;
  height: 46px;
}
/* line 149, ../../sass/partials/home.scss */
#right-column .bottone-black2 .right-corner {
  background: url("../images/btn_corner_right.png") no-repeat left top;
  width: 7px;
  height: 46px;
  float: right;
  position: relative;
  margin-top: -46px;
}
/* line 159, ../../sass/partials/home.scss */
#right-column .bottone-black3 {
  position: relative;
  background: #000000 !important;
  width: 200px;
  height: 46px;
  float: left;
  margin-left: 20px;
  margin-top: 108px;
}
/* line 168, ../../sass/partials/home.scss */
#right-column .bottone-black3 .left-corner {
  background: url("../images/btn_corner_left.png") no-repeat left top;
  width: 7px;
  height: 46px;
}
/* line 174, ../../sass/partials/home.scss */
#right-column .bottone-black3 .right-corner {
  background: url("../images/btn_corner_right.png") no-repeat left top;
  width: 7px;
  height: 46px;
  float: right;
  position: relative;
  margin-top: -46px;
}
