/* line 3, ../../sass/partials/list.scss */
nav[role="navigation"] ul {
  margin-left: 0%;
  width: 25%;
  list-style: none;
}

/* line 9, ../../sass/partials/list.scss */
nav[role="navigation"] ul li a {
  display: block;
  padding: 5px 15px;
  font-family: "libertine italic";
  font-size: 23px;
  line-height: 1;
  font-weight: normal;
  color: black;
}

/* line 21, ../../sass/partials/list.scss */
nav[role="navigation"] ul li a:focus,
nav[role="navigation"] ul li a:hover {
  background: #00FFCE;
}

/* line 25, ../../sass/partials/list.scss */
nav[role="navigation"] ul li a:active {
  background: #ddd;
}

/* line 29, ../../sass/partials/list.scss */
.data {
  font-family: "lekton italic";
  font-size: 10px;
  font-weight: normal;
  color: black;
  margin-left: 20px;
}
