/* line 7, ../../sass/partials/post.scss */
#post .img {
  background: url("../images/img1.png") no-repeat left top;
  width: 401px;
  height: 309px;
  position: absolute;
}
/* line 16, ../../sass/partials/post.scss */
#post .content-data {
  margin-left: 25.42373%;
  position: relative;
  background: url("../images/post-data.png") no-repeat left top;
  width: 167px;
  height: 35px;
}
/* line 24, ../../sass/partials/post.scss */
#post .content-data h1 {
  font-family: "lekton italic";
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  margin-top: 10px;
  margin-left: 33px;
}
/* line 40, ../../sass/partials/post.scss */
#post .content-news {
  margin-left: 25.42373%;
  position: relative;
  background: white;
  border: 2px solid black;
  outline: 1px solid white;
  width: 276px;
  float: left;
  margin-top: 10px;
}
/* line 50, ../../sass/partials/post.scss */
#post .content-news .corner-up {
  background: url("../images/post-text-up.png") top no-repeat;
  width: 276px;
  height: 7px;
  position: absolute;
}
/* line 59, ../../sass/partials/post.scss */
#post .content-news .corner-down {
  background: url("../images/post-text-down.png") bottom no-repeat;
  width: 276px;
  height: 7px;
  position: relative;
  float: left;
}
/* line 68, ../../sass/partials/post.scss */
#post .content-news h1 {
  font-family: "lato black";
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: underline;
  padding: 4px;
}
/* line 77, ../../sass/partials/post.scss */
#post .content-news .autore {
  font-family: "lato regular italic";
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
  padding: 4px;
}
/* line 85, ../../sass/partials/post.scss */
#post .content-news .data {
  font-family: "lato regular italic";
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
  background-color: #00FFCE;
  margin: 0;
  margin-left: 4px;
}
/* line 95, ../../sass/partials/post.scss */
#post .content-news .dove {
  font-family: "lato black italic";
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 4px;
}
/* line 105, ../../sass/partials/post.scss */
#post .content-news .indirizzo {
  font-family: "lato regular italic";
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
}
/* line 115, ../../sass/partials/post.scss */
#post a.bottone-generico {
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
/* line 119, ../../sass/partials/post.scss */
#post a.bottone-generico .container {
  display: inline-block;
  border: 2px solid black;
  outline: 1px solid white;
  background-color: white;
  position: relative;
  margin-top: -7px;
  margin-left: -7px;
}
/* line 127, ../../sass/partials/post.scss */
#post a.bottone-generico .container .corner-left {
  position: absolute;
  background: url('../../images/bottone_corner_left.png?1357667422') top left no-repeat;
  background-color: white;
  width: 7px;
  height: 33px;
}
/* line 134, ../../sass/partials/post.scss */
#post a.bottone-generico .container .corner-right {
  background: url('../../images/bottone_corner_right.png?1357667422') top left no-repeat;
  background-color: white;
  width: 7px;
  height: 33px;
}
/* line 140, ../../sass/partials/post.scss */
#post a.bottone-generico .container h3 {
  font-family: "libertine italic";
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  font-weight: normal;
  color: black;
  padding: 0 !important;
  margin: 5px 16px 0 16px;
}
/* line 152, ../../sass/partials/post.scss */
#post a.bottone-generico .left_hover {
  position: absolute;
  bottom: 0;
  left: -8px;
  width: 8px;
  height: 8px;
  background: url('../../images/bottone_pezzo_sx.png?1357667422') top left no-repeat;
}
/* line 160, ../../sass/partials/post.scss */
#post a.bottone-generico .center_hover {
  position: relative;
  float: left;
  height: 8px;
  width: 100%;
  background: url('../../images/bottone_pezzo_center.png?1357667422') bottom left repeat-x;
}
/* line 167, ../../sass/partials/post.scss */
#post a.bottone-generico .right_hover {
  position: absolute;
  top: -7px;
  right: -8px;
  width: 8px;
  height: 46px;
  background: url('../../images/bottone_pezzo_dx.png?1357667422') top left no-repeat;
}
/* line 178, ../../sass/partials/post.scss */
#post a.bottone-generico:hover h3 {
  background: #00FFCE;
}
/* line 183, ../../sass/partials/post.scss */
#post a.bottone-generico:active {
  margin-right: 1px;
}
/* line 185, ../../sass/partials/post.scss */
#post a.bottone-generico:active .container {
  margin-top: 0;
  margin-left: 0;
}
/* line 189, ../../sass/partials/post.scss */
#post a.bottone-generico:active .left_hover, #post a.bottone-generico:active .center_hover, #post a.bottone-generico:active .right_hover {
  display: none;
}
