// start bottone generico
a.bottone-generico{
	display: inline-block;
	position: relative;
	margin-right: 8px;
	.container{
		display: inline-block;
		border: 2px solid black;
		outline: 1px solid white;
		background-color: white;
		position: relative;
		margin-top: -7px;
		margin-left: -7px;
		.corner-left{
			position: absolute;
			background: image-url('bottone_corner_left.png') top left no-repeat;
			background-color: white;
			width: 7px;
			height: 33px;
		}
		.corner-right{
			@include float-right;
			background: image-url('bottone_corner_right.png') top left no-repeat;
			background-color: white;
			width: 7px;
			height: 33px;
		}
		h3{
			font-family: "libertine italic";
			font-size: 14px;
			line-height: 18px;
			text-decoration: underline;
			font-weight: normal;
			color: black;
			padding: 0 !important;
			margin: 5px 16px 0 16px;
			
		}
	}
	.left_hover{
		position: absolute;
		bottom: 0;
		left: -8px;
		width: 8px;
		height: 8px;
		background: image-url('bottone_pezzo_sx.png') top left no-repeat;
	}
	.center_hover{
		position: relative;
		float: left;
		height: 8px;
		width: 100%;
		background: image-url('bottone_pezzo_center.png') bottom left repeat-x;
	}
	.right_hover{
		position: absolute;
		top: -7px;
		right: -8px;
		width: 8px;
		height: 46px;
		background: image-url('bottone_pezzo_dx.png') top left no-repeat;
	}
}

a.bottone-generico:hover{
	h3{
		background: #00FFCE;
	}
}

a.bottone-generico:active{
	margin-right: 1px;
	.container{
		margin-top: 0;
		margin-left: 0;
	}
	.left_hover, .center_hover, .right_hover{
		display: none;
	}
}
// fine bottone generico





	
