#post{
	img{
		@include float-left;
		position: relative;
	}
	.content-data{
		@include pre(6,16);
		@include float-left;
		display: block;
		position:absolute;
    	width: image-width('post-data.png');
    	background: image-url('post-data.png') no-repeat left top;
    	
		h1{
			font-family: "lekton italic";
			font-size: 10px;
			font-weight: normal;
			text-transform: uppercase;
			line-height: image-height('post-data.png');
			text-align: center;
			min-height: image-height('post-data.png');
		}
	}
	.content-news{
		@include pre(5);
		position: relative; 
		background: white;
		border: 2px solid black;
		outline: 1px solid white;
		width: 276px;
		float: left;
		margin-top: 10px;
		.corner-up{
			background: image-url('post-text-up.png') top no-repeat ;
			width: 276px;
			height: 7px;
			position: absolute;
		}
		.corner-down{
			background: image-url('post-text-down.png') bottom no-repeat ;
			width: 276px;
			height: 7px;
			position: relative;
			float: left;;  
		}
		h1{
			font-family: "lato black";
			font-size: 16px;
			line-height: 18px;
			font-weight: normal;
			text-decoration: underline;
			padding: 4px;
		}
		.autore{
			font-family: "lato regular italic";
			font-size: 13px;
			line-height: 17px;
			font-weight: normal;
			padding: 4px;
		}
		.data{
			font-family: "lato regular italic";
			font-size: 13px;
			line-height: 17px;
			font-weight: normal;
			background-color: #00FFCE;
			margin: 0;
			margin-left: 4px;
		}
		.dove{
			font-family: "lato black italic";
			font-size: 13px;
			line-height: 17px;
			font-weight: normal;
			text-transform: uppercase;
			padding: 4px;
		}
		.indirizzo{
			font-family: "lato regular italic";
			font-size: 13px;
			line-height: 17px;
			font-weight: normal;
		}
	}
	.bottone-generico{
		position: relative;
		clear: left;
	}
}










