@import 'susy';

nav[role="navigation"] ul {
    @include pre(0);
    width: 25%;
	list-style: none;
	}
	
nav[role="navigation"] ul li a {
	display: block;
	padding: 5px 15px;
	font-family: "libertine italic";
	font-size: 23px;
    line-height: 1;
	font-weight: normal;
	color: black;

	}
	
nav[role="navigation"] ul li a:focus,
nav[role="navigation"] ul li a:hover {
	background: #00FFCE;
	}
	
nav[role="navigation"] ul li a:active {
	background: #ddd;
	}				
	
.data{
font-family: "lekton italic";
font-size: 10px;
font-weight: normal;
color: black;
margin-left: 20px;

}
