@import 'susy';



.content-next{
 @include pre(3);
  position: relative; 
  background: white;
  border: 2px solid black;
  outline: 1px solid white;
  width: 636px;
  float: left;
  margin-top: 50px;
  
  .corner-up{
  background: url('../images/post-next-up.png') top no-repeat ;
  width: 636px;
  height: 7px;
  position: absolute;
  
  
  }
  
  .corner-down{
  background: url('../images/post-next-down.png') bottom no-repeat ;
  width: 636px;
  height: 7px;
  position: relative;
  float: left;
  }
  

h1{
font-family: "libertine italic";
font-size: 23px;
line-height: 27px;
font-weight: normal;
text-transform: uppercase;
position: absolute; 
text-decoration: underline;
margin-left: 210px;
}

.data-next{
font-family: "lekton italic";
font-size: 10px;
line-height: 12px;
font-weight: normal;
text-transform: uppercase;
background-color: #00FFCE;
position: absolute;
margin-top: 20px;
margin-left: 16px;

}

.luogo-next{
font-family: "lekton italic";
font-size: 10px;
line-height: 12px;
font-weight: normal;
text-transform: uppercase;
background-color: #00FFCE;
position: absolute;
margin-top: 50px;
margin-left: 16px;

}

.img{
background: url('../images/img1.png') no-repeat left top;
width: 401px;
height: 309px;

}

.intro{
font-family: "libertine italic";
font-size: 12px;
line-height: 15px;
font-weight: normal;
width: 189px;
position: relative;
float: right;
text-indent: 2px;
}


.barra-text{
background: url('../images/barra_text.png') no-repeat top left;
width: 27px;
height: 1px;
position: relative;
float: left;
margin-top: 8px;


}



}


.next{
  position: relative; 
  background: url('../images/cont-next.png') no-repeat left top;
  width: 150px;
  height: 60px;
  margin-top: -20px;
  margin-left: 230px;
  
	h1{
	font-family: "libertine black italic";
	font-size: 30px;
	line-height: 23px;
	font-weight: normal;
	position: absolute;
	margin-left: 10px;
	margin-top: 15px;
	text-decoration: underline;
	background-color: #00FFCE;
	
	}


}



	.content-post{
	 @include pre(3);
	  position: relative; 
	  width: 636px;
	  height: 138px;
	  float: left;
	  margin-top: 50px;
	  
	  .data-post{
	  font-family: "lekton italic";
	  font-size: 10px;
	  line-height: 12px;
	  font-weight: normal;
	  text-transform: uppercase;
	  
	  }
	  
	  .article{
	  @include span-columns(3,16);
	  
	  width: 210px;
	  font-family: "lato regular";
	  font-size: 13px;
	  line-height: 17px;
	  font-weight: normal;
	 }
	 
		  
	  h1{
	  font-family: "lato black";
	  font-size: 16px;
	  line-height: 18px;
	  font-weight: normal;
	  color: black;
	  
	  
	  }
	
	}
	
