@import 'susy';


#post{


.img{
background: url('../images/img1.png') no-repeat left top;
width: 401px;
height: 309px;
position: absolute;

}


.content-data{
  @include pre(3);
  position: relative; 
  background: url('../images/post-data.png') no-repeat left top;
  width: 167px;
  height: 35px;
  

h1{
font-family: "lekton italic";
font-size: 10px;
font-weight: normal;
text-transform: uppercase;
position: absolute; 
margin-top: 10px;
margin-left: 33px;


}



}

.content-news{
 @include pre(3);
  position: relative; 
  background: white;
  border: 2px solid black;
  outline: 1px solid white;
  width: 276px;
  float: left;
  margin-top: 10px;
  
  .corner-up{
  background: url('../images/post-text-up.png') no-repeat ;
  width: 276px;
  height: 7px;
  position: absolute;
  
  
  }
  
  .corner-down{
  background: url('../images/post-text-down.png') no-repeat ;
  width: 276px;
  height: 7px;
  margin-top: 8px;
  
  
  }

h1{
font-family: "lato black";
font-size: 16px;
line-height: 18px;
font-weight: normal;
text-decoration: underline;
padding: 4px;
}

.autore{
font-family: "lato regular italic";
font-size: 13px;
line-height: 17px;
font-weight: normal;
padding: 4px;
}

.data{
font-family: "lato regular italic";
font-size: 13px;
line-height: 17px;
font-weight: normal;
background-color: #00FFCE;
margin: 0;
margin-left: 4px;
}

.dove{
font-family: "lato black italic";
font-size: 13px;
line-height: 17px;
font-weight: normal;
text-transform: uppercase;
padding: 4px;

}

.indirizzo{
font-family: "lato regular italic";
font-size: 13px;
line-height: 17px;
font-weight: normal;
}


}

.read-more{
  position: relative; 
  background: url('../images/read-more.png') no-repeat left top;
  width: 108px;
  height: 46px;
  margin-top: -20px;
  margin-left: 147px;
  
	h1{
	font-family: "libertine black italic";
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	position: absolute;
	margin-left: 20px;
	text-decoration: underline;
	background-color: #00FFCE;
	}
	

}



}










